@import "normailize";
body {
	position: relative;
	padding: 20px;
	background: #fff;
}
.wraper {
	position: absolute;
	top: 0;right: 0;left: 0;
	margin: 0 auto;
	width: 1000px;
}
header {
	position: fixed;
	width: 1000px;
	height: 80px;
	background: linear-gradient(to bottom, rgba(255,255,255,.9),rgba(255,255,255,0));

	@media screen and (max-width: 1001px) {
			position: absolute;
			left: 0;
		}

	.logo {
		position: relative;
		float: left;
		width: 180px;
		text-align: center;
		letter-spacing: 2px;
		line-height: 80px;

		&:after {
			position: absolute;
			top: 0;right: -25px;bottom: 0;
			width: 25px;
			background: linear-gradient(to top, rgba(220,220,220,.4),rgba(220,220,220,.1));
			content: '';
		}
		a {
			color: #555;
		}
	}
	.nav {
		float: right;
		height: 100%;

		.nav-item {
			float: left;
			margin-left: 40px;
			line-height: 80px;

			a {
				color: #aaa;

				&:hover,&.act {
					color: #666;
				}
			}
		}
	}
}
.side-bar {
		position: fixed;
		top: 80px;
		bottom: 0;
		left: 50%;
		margin-left: -500px;
		width: 180px;
		background: linear-gradient(to bottom, rgba(220,220,220,.4),rgba(220,220,220,0));

		@media screen and (max-width: 1001px) {
			position: absolute;
			bottom: 0;
			left: 0;
			margin-left: 0;
		}
	}
main {
	margin-top: 80px;

	.content {
		margin-left: 205px;
		width: 795px;
	}
	.text-wraper {
		margin-bottom: 25px;
		padding: 45px 30px;
		background: linear-gradient(to right, rgba(230,230,230,.4),rgba(230,230,230,.05));
		*zoom: 1;

		&:after {
			content: "\200B";
			height: 0;
			display: block;
			clear: both;			
		}
		.chapter {
			float: left;
			width: 43%;
			margin-bottom: 27px;
			margin-right: 6.7999%;
			.title, p {
				font-size: 13px;
				line-height: 2;
				font-weight: 100;
				margin:0;
				color: #aaa;
			}
			p {
				line-height: 1.6;
				color: #bbb;
				text-align: justify;
				letter-spacing: 1px;
			}
		}
	}
	.img-case {
		margin-bottom: 25px;

		img {
			width: 100%
		}
	}
}
